<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @pet.date_of_birth %>
</p>

<strong>Owner:</strong>
<%= @pet.client %>

<table class="table">
  <thead>
    <tr>
      <th>Average Weight</th>
      <th>Average Height</th>
      <th>Max. Weight</th>
      <th>Max. Height</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @pet.average_weight %></td>
      <td><%= @pet.average_height %></td>
      <td><%= @pet.max_weight %></td>
      <td><%= @pet.max_height %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_client_pet_path(@client, @pet) %> |
<%= link_to 'Back', client_pets_path(@client) %>