<p id="notice"><%= notice %></p>

<p>
  <strong>Visit:</strong>
  <%= @pet_history.visit %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pet_history.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @pet_history.height %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet_history.description %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @pet_history.pet %>
</p>

<%= link_to 'Edit', edit_client_pet_pet_history_path(@client, pet, @pet_history) %> |
<%= link_to 'Back', client_pet_pet_histories_path(@client, @pet) %>
